{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

<section>
    {% for competencia in competencias %}
        <article>
            <h3>{{competencia.tipo}}</h3>
            <p>{{competencia.descricao}}</p>

            <a href="{% url 'edita_competencia' competencia.id %}">
                <button>Editar informação da Competência</button>
            </a>

            <a href="{% url 'apaga_competencia' competencia.id %}">
                <button>Apagar Competência</button>
            </a>

        </article>
    {% endfor %}
</section>

{% endblock %}