<!-- templates/escola/cursos.html -->    

{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>Licenciaturas</h2>

<section>
    {% for licenciatura in licenciaturas %}
    <article>
        <h3>{{licenciatura.nome}}</h3>
        <h4>Duração: {{licenciatura.semestres}} semestres</h4>
        <h4>ECTS: {{licenciatura.curso_ects}}</h4>
        <br>
        <h4>Descrição:</h4>
        <p>{{ licenciatura.descricao }}</p>
        <br>

        <h4>Objetivos:</h4>
        <p>{{licenciatura.objetivos}}</p>
        <br>

        <h4>UCs:</h4>
        {% for uc in licenciatura.uc.all %}

            <a href="{% url 'uc' uc.id %}">{{uc.nome}}</a>
            <br>
        {% endfor %}
    </article>
    {% endfor %}
</section>
{% endblock %}